<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Inicio de sesion </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Ingrese Usuario</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label> 
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-button routerLink="/bienvenido" class="ion-padding"color="primary">Acceder</ion-button>

  <ion-button routerLink="/reset" color="primary">OLVIDÉ CONTRASEÑA</ion-button>


</ion-content>